<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= question.title %>
          <span class="pull-right"><%= question.user.username %></span>
        </h3>
      </div>
      <div class="panel-body">
        <span><%= question.body %></span>
        <small class="pull-right"><%= distance_of_time_in_words_to_now(question.created_at) %> ago</small>
        <br>
        <% if question.user == current_user %>
          <%= link_to '<i class="glyphicon glyphicon-trash pull-right"></i>'.html_safe, question_path(question), method: :delete, id: "delete_question_#{question.id}"%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
