<div class="row">
<div class="col-sm-2"></div>

<<<<<<< HEAD
<div class="col-sm-8">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Questions <span class="badge"><%= @questions.count %></span></h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <% @questions.each do |question| %>
        <li class="list-group-item">
            <%= link_to question.title, question_path(question) %> <small><%= distance_of_time_in_words_to_now(question.created_at) %> ago</small>
            <span class="pull-right">Responses <span class="badge"><%= question.responses.count %></span></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<%= link_to "Add question", new_question_path, class: "btn btn-default btn-lg btn-block" %>

<div class="col-sm-6">
  <h1>Smaug Lavaflow</h1>

  <% if current_user %>
    <%= link_to "Add question", new_question_path, class: "btn btn-info btn-sm", id: "add-question-btn", remote: true %>
  <% end %>

  <ul class="list-group" id="all-questions-list">
    <%= render @questions.reverse %>
  </ul>
</div>

<div class="col-sm-2"></div>
</div>
