<h2><%= @question.title %><h2>
<h5 class="well"><%= @question.body %></h5>

<% if current_user != nil %>
  <%= link_to "Respond", new_question_response_path(@question, Response.new) %>
<% end %>

<% if @question.responses.any? %>
  <h2>Responses</h2>
  <ul class="list-unstyled">
    <% @question.responses.each do |response| %>
      <li>
        <% if current_user == @question.user %>
          <%= bootstrap_form_for @question do |f| %>
            <% if response == @question.best_response %>
              best response:<br>
            <% end %>
            <%= response.user.username %>: &ldquo;<%= response.body %>&rdquo;
            <input name="_method" type="hidden" value="patch">
            <%= f.hidden_field :best_response_id, :value => response.id %>
            <button type="submit" class="btn btn-success btn-xs">mark as best</button>
          <% end %>
        <% else %>
          <%= response.user.username %>: &ldquo;<%= response.body %>&rdquo;
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
