<h2><%= @question.title %><h2>
<h5 class="well"><%= @question.body %></h5>

<% if current_user != nil %>
  <%= link_to "Respond", new_question_response_path(@question, Response.new) %>
<% end %>

<% if @question.responses.any? %>
  <h2>Responses</h2>
  <ul class="list-unstyled">
    <% @question.responses.each do |response| %>
      <li>
        <%= response.user.username %>: &ldquo;<%= response.body %>&rdquo;
      </li>
    <% end %>
  </ul>
<% end %>
