<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h2 class="text-danger"><%= @question.title %></h2>
    <h5 class="well"><%= @question.body %></h5>
  </div>
  <div class="col-sm-3"></div>
</div>

<div class="row">

  <div class="col-sm-2"></div>

  <div class="col-sm-8 well">

    <% if current_user != nil %>
      <%= link_to "Leave a response", new_question_response_path(@question, Response.new) %>
    <% end %>

    <% if @question.responses.any? %>

      <h4>Responses:</h4>
      <hr>
      <% if @question.best_response %>
        <div class="best-response-display panel panel-info">
          <div class="panel-heading">
            <span class="badge"><%= @question.best_response.votes.count %></span>
            Best Response chosen by <%= @question.user.username %><br>
            Response courtesy of <%= @question.best_response.user.username %>
            <div class="pull-right">
              <%= bootstrap_form_for Vote.new do |f| %>
                <%= f.hidden_field :response_id, :value => @question.best_response.id %>
                <button type="submit" class="btn btn-default btn-xs">+1</button>
              <% end %>
            </div>
          </div>
          <div class="panel-body">
            &ldquo;<%= @question.best_response.body %>&rdquo;
          </div>
        </div>
      <% end %>

      <% @question.responses.sort_by(&:vote_count).reverse.each do |response| %>
        <% unless response == @question.best_response %>

          <div class="panel panel-default">

            <div class="panel-heading">

              <span class="badge"><%= response.votes.count %></span>
              <%= response.user.username %>

              <% if logged_in? %>
                <div class="plusone pull-right">

                  <%= bootstrap_form_for Vote.new do |f| %>
                    <%= f.hidden_field :response_id, :value => response.id %>
                    <button type="submit" class="btn btn-default btn-xs">+1</button>
                  <% end %>

                </div>
              <% end %>

              <div class="response pull-right">
                <% if current_user == @question.user %>
                  <%= bootstrap_form_for @question do |f| %>
                    <input name="_method" type="hidden" value="patch">
                    <%= f.hidden_field :best_response_id, :value => response.id %>
                    <button type="submit" class="btn btn-default btn-xs">mark as best</button>
                  <% end %>
                <% end %>
              </div>

            </div> <!-- end panel-heading -->

            <div class="panel-body">
              &ldquo;<%= response.body %>&rdquo;
            </div> <!-- end panel-body -->

          </div> <!-- end panel -->

        <% end %> <!-- end unless -->
      <% end %> <!-- end each -->

    <% end %> <!-- end if any responses -->

  </div> <!-- end col-sm-8 -->

  <div class="col-sm-2">
  </div>

</div> <!-- end row -->
